<div class="d-flex gap-1 container justify-content-between">
  @if (parent==='card'){
  <i
    class="myicon fa-solid fa-circle-info fa-2xl"
    [routerLink]="['/user', idUser]"
    title="Ver detalle"
    alt="Ver detalle"
  ></i>

  }
  <i
    class="myicon fa-solid fa-pencil fa-2xl"
    [routerLink]="['/updateuser', idUser]"
    title="Actualizar"
    alt="Actualizar"
  ></i>

  <i
    class="myicon fa-solid fa-trash-can fa-2xl"
    (click)="deleteUser(idUser)"
    title="Borrar"
    alt="Borrar"
  ></i>

  @if (parent==='view'){
  <i
    class="myicon fa-solid fa-arrow-left fa-2xl"
    [routerLink]="['/']"
    title="Volver al listado"
    alt="Volver al listado"
  ></i>
  }
</div>
